<%- include ../templates/_head.ejs %>
<body>
 
 <%- include ../templates/_header.ejs %>

<div class="box box-10"> 
  <div id="supper-image">
    <img src="<%= supper.image %>" />
  </div>
</div>

       
<div class="box box-10"> 
  <div id="supper-information">
    <div class="container">
      <div class="box box-7">
        <p class="supper-title"><%= supper.title %></p>
        <small>Drinks</small>
        <%= supper.menu[0].drinks %></p>
        <i class="fa fa-users"></i>
        <p class="supper-header"></p>
        <p> <%= supper.menu[0].cuisine %></p>
        <p class="supper-header">Dishes</p>
        <p> <%= supper.menu[0].dishes %></p>
     </div>
    </div>
  </div>
</div> 

 
  <div  id="supper-wrapper">
    <div class="box box-7" id="supper-description">
      <h3>Description</h3>
      <P> <%= supper.description %></p>
    </div> 
  
    
    <div class="box box-7" id="map-wrapper">
      <div class="box box-7" id="map" style="width:400px; height:500px;">
      </div>
    </div>

    <address><%=supper.address[0].postCode%></address>
  </div>
  

  <div id="notify"></div>


  <section id="attend-button">
    <form action="/suppers/<%=supper._id%>" method="POST"> 
      <input type="submit" class="attending" value="attend">
    </form>
  </section>

 

</body>
</html>