<%- include ../templates/_head.ejs %>
<body>
 
 <%- include ../templates/_header.ejs %>

<div class="box box-10"> 
  <div id="supper-image">
    <img src="<%= supper.image %>" />
  </div>
</div>

       
<div class="box box-10"> 
  <div id="supper-information">
    <div class="container">
      <div class="box box-7">
        <p class="supper-title"><%= supper.title %></p>
        <large><%= supper.address[0].city %></large>
        <small><%= supper.date %></small>
        <ul>
          <li class="box box-3">
            <div><i class="fa fa-users"></i></div>
            <small><%= supper.guest %> guests</small>
          </li>
          <li class="box box-3">
            <div><i class="fa fa-check"></i></div>
            <small><%= supper.menu[0].veggie%> veggie </small>
          </li>
          <li class="box box-3">
            <div><i class="fa fa-times"></i></div>
            <small><%= supper.menu[0].vegan%> vegan </small>
            </li>
        </ul>
     </div>
     <div class="box box-3">
       <div class="booking-form">
         <div class="booking-header">
            Attend this supper
           <div class="booking-content">
             To attend this dinner please book below. 
             <div class="booking-button">
             <section id="attend-button">
                <form action="/suppers/<%=supper._id%>" method="POST"> 
                  <input type="submit" class="attending" value="attend">
                </form>
              </section>
               
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
</div> 

 
  <div  id="supper-wrapper">
    <div class="box box-7" id="supper-description">
      <h3>Description</h3>
      <P> <%= supper.description %></p>
    </div> 
  
    
    <div class="box box-7" id="map-wrapper">
      <div class="box box-7" id="map" style="width:500px; height:500px;">
      </div>
    </div>

    <address><%=supper.address[0].postCode%></address>
  </div>
  

  <div id="notify"></div>


  <section id="attend-button">
    <form action="/suppers/<%=supper._id%>" method="POST"> 
      <input type="submit" class="attending" value="attend">
    </form>
  </section>

 

</body>
</html>